/* styles/globals.css */
body {
  font-family: Arial, sans-serif;
/*   background-color: #f0f8ff; /* 파스텔 배경색 */ */
  margin: 0;
  padding: 0;
  
            background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
            background-size: 400% 400%;
            animation: gradient 15s ease infinite;
        }
        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
}

h2 {
  margin: 20px 0;
}

.custom-swal-container {
  z-index: 1000;
}

.custom-swal-popup {
  width: 100% !important;
  max-width: 800px !important;
  padding: 20px;
}

.custom-html-container {
  max-height: 70vh;
  overflow-y: auto;
}

.custom-content {
  text-align: left;
  font-size: 1.2em;
  line-height: 1.6;
}

.custom-content p {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .custom-swal-popup {
    max-width: 95% !important;
  }
  
  .custom-content {
    font-size: 0.8em;
  }
}
